.rendertitle{
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.dx-popup-content{
    padding: 0px;
}

.searchField{
    width: 100%;
    height: 21%;
    background: whitesmoke;
    padding: 5px;
    position: relative;
}

.searchField .searchFieldItem{
    margin-top: 4px;
    padding-left: 10px;
    width: 280px;
    height: 40px;
}

.searchField .searchFieldItem .dx-texteditor-input {
    width: 100% !important;
    height: 40px !important;
    background: white !important;
    border-radius: 5px;
}

.searchField .searchbtn{
    position: absolute;
    top: 30px;
    right: 10px; 
    background: white;
}

.contentbody{
    width: 100%;
    height: 70%;
}

.contentbody .datagrid{
    border: 1px solid rgb(211, 211, 211);
}

.contentfooter{
    width: 100%;
    height: 9%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentfooter .cnt{
    margin-left: 20px;
    font-weight: bold;
}

.contentfooter .corfirmbtn{
    margin-right: 8px;
    height: 33px;
}

.contentbody .dx-datagrid-rowsview .dx-row td {
    padding-top: 5px;
    padding-bottom: 5px;
}